<!--{% extends 'resume/base.html' %}
{% block content %}
{% if messages %}
    {% for msg in messages %}
    {{msg.label_tag}} {{msg}} {{msg.errors|striptags}}<br><br>
    {% endfor %}
{% endif %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        {{error.label_tag}} {{error}} {{error.errors|striptags}}
    {% endfor %}
{% endif %}
<div class="title">
    <h1 class="display-1">LogIn Form</h1>
</div>
        <div class="container">
            <form class="needs-validation," method="POST" novalidate>
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        {% for form in form %}
                            {{form.label_tag}} {{form}} {{form.errors|striptags}}<br><br>
                        {% endfor %}
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="submit" class="btn btn-success" value="LogIn">
                                <a href="{% url 'registrationpage' %}" class="btn btn-success">SignIn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div
{% endblock content %}