<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Resume</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'resume/css/bootstrap.css' %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'resume/css/fontawesome.css' %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'resume/css/style.css' %}'>
    <script src='{% static 'resume/js/bootstrap.js' %}'></script>
    <script src='{% static 'resume/js/jquery.js' %}'></script>
    <script src='{% static 'resume/js/main.js' %}'></script>
    <script src='{% static 'resume/js/popper.js' %}'></script>
</head>
<body>
    
<div class="container" shadow>
<div class="row">
    <div class="col col-md-6">
        <div class="profile">
            <img src="{{per.image.url}}" class="img-thumbnail" alt="">
            <h1>LOCATION</h1>
            <p>{{per.address1}}</p>
            <h1>PHONE</h1>
            <p>{{per.mobile}}</p>
            <h1>EMAIL</h1>
            <p>{{per.email}}</p>
        </div><br><br>
        <div class="objective">
            <h1>OBJECTIVES</h1>
            <p>{{per.objective}}</p>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="heading">
            <h1>{{per.fullname}}</h1>
            <h4>{{per.jobtitle}}</h4>
        </div>

        <div class="education">
            <h1>EDUCATION</h1>
            <ul>{% if per.see %}
                <li>{{per.see}}, [{{per.passyear1}}]</li>
                {% else %}

                {% endif %}

                {% if per.inter %}
                <li>{{per.inter}}, [{{per.passyear2}}]</li>
                {% else %}

                {% endif %}

                {% if per.bachelor %}
                <li>{{per.bachelor}}, [{{per.passyear3}}]</li>
                {% else %}
                {% endif %}

                {% if per.master %}
                <li>{{per.master}}, [{{per.passyear4}}]</li>
                {% else %}
                {% endif %}

                {% if per.phd %}
                <li>{{per.phd}}, [{{per.passyear5}}]</li>
                {% else %}
                {% endif %}

                {% if per.other %}
                <li>{{per.other}}, [{{per.passyear6}}]</li>
                {% else %}
                {% endif %}
            </ul>
        </div>

        <div class="education">
            <h1>WORK EXPERIENCE</h1>
            <ul>{% if per.jobtitle %}
                <li>{{per.jobtitle}}, [{{per.startdate}}] to [{{per.enddate}}]</li>
                <p>Resposbility: {{per.responbility}}</p>
                {% else %}
                {% endif %}

                {% if per.jobtitle2 %}
                <li>{{per.jobtitle2}}, [{{per.startdate2}}] to [{{per.enddate2}}]</li>
                <p>Resposbility: {{per.responbility2}}</p>
                {% else %}
                {% endif %}

                {% if per.jobtitle2 %}
                <li>{{per.jobtitle3}}, [{{per.startdate3}}] to [{{per.enddate3}}]</li>
                <p>Resposbility: {{per.responbility3}}</p>
                {% else %}
                {% endif %}
            </ul>
        </div>
            
        <div class="detail">
            <h1>PERSONAL DETAILS INFORMATION</h1>
            <li>Date Of Birth: {{per.date_of_birth}}</li>
            <li>Father’s Name: {{per.father_name}}</li>
            <li>Mother’s Name: {{per.mother_name}}</li>
            <li>Gender: {{per.sex}}</li>
            <li>Marital Status: {{per.marrital_status}}</li>
            <li>Nationality: {{per.nationality}}</li>
            <li>Hobbies: {{per.Hobbies}}</li>
        </div>

        <div class="experience">
            <h1>SKILLS</h1>
            <ul>{% if per.skill %}
                <li>{{per.skill}}</li>
                {% else %}
                {% endif %}

                {% if per.skill2 %}
                <li>{{per.skill2}}</li>
                {% else %}
                {% endif %}

                {% if per.skill3 %}
                <li>{{per.skill3}}</li>
                {% else %}
                {% endif %}

                {% if per.skill4 %}
                <li>{{per.skill4}}</li>
                {% else %}
                {% endif %}

                {% if per.skill5 %}
                <li>{{per.skill5}}</li>
                {% else %}
                {% endif %}

                {% if per.skill6 %}
                <li>{{per.skill6}}</li>
                {% else %}
                {% endif %}

                {% if per.skill7 %}
                <li>{{per.skill7}}</li>
                {% else %}
                {% endif %}

                {% if per.skill8 %}
                <li>{{per.skill8}}</li>
                {% else %}
                {% endif %}

                {% if per.skill9 %}
                <li>{{per.skill9}}</li>
                {% else %}
                {% endif %}

                {% if per.skill10 %}
                <li>{{per.skill10}}</li>
                {% else %}
                {% endif %}
            </ul>
        <div class="declaration">
            <h1>DECLARATION</h1>
                <P>{{per.declaration}}</P>
        </div>
    </div>
</div>
<a href="{% url 'resumepdfpage' per.id %}" class="btn btn-primary">Convert into pdf</a>
</div>
</body>
</html>